In [2]:
import pandas as pd
data = pd.read_csv('dataset.csv')
data.head()

,Name,Twitter_username,Account_start_time,Account_ID,Sex,Birthplace,Birthday,Age,Instagram_username,Political_party
0,A. Donald McEachin,RepMcEachin,2017-01-03T00:00:00Z,816181091673448448,male,Germany,1961-10-10T00:00:00Z,59.0,repmceachin,Democratic Party
1,Aaron Michlewitz,RepMichlewitz,2010-06-27T00:00:00Z,160246973,male,United States of America,1978-01-01T00:00:00Z,42.0,NaN,Democratic Party
2,Aaron Peskin,AaronPeskin,2010-11-13T00:00:00Z,215369273,male,United States of America,1964-06-17T00:00:00Z,56.0,apeskin52,Democratic Party
3,Aaron Pe単a,AaronPena,2007-10-31T00:00:00Z,9843332,male,United States of America,1959-06-08T00:00:00Z,61.0,NaN,Republican Party
4,Aaron Schock,aaronschock,2009-03-12T00:00:00Z,23951197,male,United States of America,1981-05-28T00:00:00Z,39.0,aaronschock,Republican Party

In [3]:
df_dropped = data.drop('Birthplace', axis=1)
df_dropped.head()

,Name,Twitter_username,Account_start_time,Account_ID,Sex,Birthday,Age,Instagram_username,Political_party
0,A. Donald McEachin,RepMcEachin,2017-01-03T00:00:00Z,816181091673448448,male,1961-10-10T00:00:00Z,59.0,repmceachin,Democratic Party
1,Aaron Michlewitz,RepMichlewitz,2010-06-27T00:00:00Z,160246973,male,1978-01-01T00:00:00Z,42.0,NaN,Democratic Party
2,Aaron Peskin,AaronPeskin,2010-11-13T00:00:00Z,215369273,male,1964-06-17T00:00:00Z,56.0,apeskin52,Democratic Party
3,Aaron Pe単a,AaronPena,2007-10-31T00:00:00Z,9843332,male,1959-06-08T00:00:00Z,61.0,NaN,Republican Party
4,Aaron Schock,aaronschock,2009-03-12T00:00:00Z,23951197,male,1981-05-28T00:00:00Z,39.0,aaronschock,Republican Party

In [4]:
data.groupby('Sex').agg({'Political_party':'count'})

                    Political_party
Sex
female                          730
male                           1779
transgender female                4
transgender male                  1

In [31]:
data.tail()

,Name,Twitter_username,Account_start_time,Account_ID,Sex,Birthplace,Birthday,Age,Instagram_username,Political_party
2509,Yvette Clarke,RepYvetteClarke,2011-01-20T00:00:00Z,240812994,female,United States of America,1964-11-21T00:00:00Z,55.0,repyvettedclarke,Democratic Party
2510,Yvette Herrell,yvette4congress,2017-08-19T00:00:00Z,898787903609765890,female,United States of America,1964-03-16T00:00:00Z,56.0,NaN,Republican Party
2511,Zephyr Teachout,zephyrteachout,2008-07-17T00:00:00Z,15467700,female,United States of America,1971-10-24T00:00:00Z,49.0,zephyrteachout,Democratic Party
2512,Zoe Lofgren,RepZoeLofgren,2011-03-17T00:00:00Z,267938462,female,United States of America,1947-12-21T00:00:00Z,72.0,repzoelofgren,Democratic Party
2513,Zoltan Istvan,zoltan_istvan,2013-07-02T00:00:00Z,1562177648,male,United States of America,1973-03-30T00:00:00Z,47.0,zoltan_istvan,Libertarian Party

In [32]:
data.iloc[:5,8]

0    repmceachin
1            NaN
2      apeskin52
3            NaN
4    aaronschock
Name: Instagram_username, dtype: object

In [39]:
data['Name'].mode()

0       Ben Carson
1    Christy Smith
Name: Name, dtype: object

In [9]:
desc = data['Name'].describe()
desc

count           2514
unique          1806
top       Ben Carson
freq              12
Name: Name, dtype: object

In [14]:
df_row_dropped = data.drop(2, axis = 0)


df_row_dropped.head()

,Name,Twitter_username,Account_start_time,Account_ID,Sex,Birthplace,Birthday,Age,Instagram_username,Political_party
0,A. Donald McEachin,RepMcEachin,2017-01-03T00:00:00Z,816181091673448448,male,Germany,1961-10-10T00:00:00Z,59.0,repmceachin,Democratic Party
1,Aaron Michlewitz,RepMichlewitz,2010-06-27T00:00:00Z,160246973,male,United States of America,1978-01-01T00:00:00Z,42.0,NaN,Democratic Party
3,Aaron Pe単a,AaronPena,2007-10-31T00:00:00Z,9843332,male,United States of America,1959-06-08T00:00:00Z,61.0,NaN,Republican Party
4,Aaron Schock,aaronschock,2009-03-12T00:00:00Z,23951197,male,United States of America,1981-05-28T00:00:00Z,39.0,aaronschock,Republican Party
5,Abby Finkenauer,Abby4Iowa,2013-03-12T00:00:00Z,1262017122,female,United States of America,1988-12-27T00:00:00Z,31.0,abby4iowa,Democratic Party

In [29]:
data.columns
df_renamed = data.rename(columns={'Account_ID':'id'})
df_renamed.head()

,Name,Twitter_username,Account_start_time,id,Sex,Birthplace,Birthday,Age,Instagram_username,Political_party
0,A. Donald McEachin,RepMcEachin,2017-01-03T00:00:00Z,816181091673448448,male,Germany,1961-10-10T00:00:00Z,59.0,repmceachin,Democratic Party
1,Aaron Michlewitz,RepMichlewitz,2010-06-27T00:00:00Z,160246973,male,United States of America,1978-01-01T00:00:00Z,42.0,NaN,Democratic Party
2,Aaron Peskin,AaronPeskin,2010-11-13T00:00:00Z,215369273,male,United States of America,1964-06-17T00:00:00Z,56.0,apeskin52,Democratic Party
3,Aaron Pe単a,AaronPena,2007-10-31T00:00:00Z,9843332,male,United States of America,1959-06-08T00:00:00Z,61.0,NaN,Republican Party
4,Aaron Schock,aaronschock,2009-03-12T00:00:00Z,23951197,male,United States of America,1981-05-28T00:00:00Z,39.0,aaronschock,Republican Party